body {
  background-color: #ffffff;
  
}

.flexContenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.flexContenedor2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 30%;
}

.colordivpadre {
  background-color: rgb(255, 255, 255);
}

.imagenindivudual {
  width: 20%;
  height: 100px;
  margin: 0%;
}

.imagenindivudual2 {
  width: 4%;
  height: 20px;
}

img {
  width: 95%;
  height: 200px;
  margin: 10px;
}

button {
  width: 100%;
  height: 50px;
  background-color: #9bd230;
  color: #ffffff;
}

.h2 {
  background-color: #9bd230;
  text-align: center;
  color: #ffffff;
  margin: 10px;
}

.rojo {
  background-color: red;
  text-align: center;
  color: #ffffff;
  margin: 10px;
}

.p1 {
  color: green;
  margin: 14px;
}

.p2 {
  color: red;
  margin: 5%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ffffff;
}

.active {
  background-color: #04aa6d;
}

.flexContenedorvertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.p3 {
  color: #8a8a8a;
}

.center {
  text-align: center;
}

.divfondoimagen {
  background-image: url("../recursos/imagenes/country-train.jpg");
  background-size: cover;
  width: 100%;
  height: 400px;
  align-content: center;
}

.divencabezadohijoizquierdo {
  display: flex;
  width: 100%;
  height: 90px;
  align-items: center;
}

.divencabezadohijoderecho {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  gap: 20px;
  align-items: center;
}
